
$black: #252525;
$white: #fff;
$gray: #d7d7d7;
$ellow: #ffcc00;

$roboto: 'Roboto', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
$helios-cond: 'HeliosCond', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
